<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>본인인증 및 예약하기</title>
    <link rel="icon" th:href="@{/images/home.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
</head>

<body>
<header th:replace="~{fragment/header :: bar}">

</header>
<div class="frame">
    <!-- 로그인 -->
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1>로그인</h1>
        <div>
            <a th:href="@{/userLogin}">로그인하기</a>
        </div>

        <!-- 계정연동없이 회원가입 -->
        <div class="signUp">
            <a th:href="@{/signup}">계정연동없이 회원가입하기</a>
        </div>

        <!-- sns 연동 본인 인증 -->
        <div class="sns-info">
            계정 연동하기
            <div class="sns">

                <a th:href="@{/oauth2/authorization/google}" data-text="google"><i class="xi-google"></i></a>
                <a th:href="@{/oauth2/authorization/naver}" data-text="naver"><i class="xi-naver"></i></a>
                <a th:href="@{/oauth2/authorization/kakao}" data-text="kakaotalk"><i class="xi-kakaotalk"></i></a>
            </div>
            <a th:href="@{/signupForm}">연동없이 회원가입</a>
            <br>
            <a th:href="@{/adminLogin}">로그인</a>

        </div>
    </div>

    <!-- 예약하기 -->
    <div sec:authorize="isAuthenticated()" class="init reserve">
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/reserve/brests}">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg><br>
            레스토랑 <span>예약하기</span></a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/reserve}">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg><br>
            레스토랑 예약 <span>조회/취소</span></a>
        <a th:href="@{/admin/brest/add}" sec:authorize="hasRole('ROLE_ADMIN')">레스토랑<span>등록</span></a>
        <a th:href="@{/admin/brest/list}" sec:authorize="hasRole('ROLE_ADMIN')">레스토랑<span>목록</span></a>

    </div>
</div>
</body>
</html>